<div class="btn-group btn-group-toggle" data-toggle="buttons">

  <label id="wishlist_button" class="btn btn-light active">
    <input type="radio" checked> Wishlist
  </label>

  <label class="btn btn-light">
    <input type="radio" id="visited_button"> Visited
  </label>

</div>


<div id="wishlist">

  <h3>wishlist</h3>

</div>

<div id="visited" class="hidden">

  <h3>visited</h3>

</div>
