<div class="btn-group btn-group-toggle" data-toggle="buttons">

  <label id="wishlist_button" class="btn btn-light active">
    <input type="radio" checked> Wishlist
  </label>

  <label class="btn btn-light">
    <input type="radio" id="visited_button"> Visited
  </label>

</div>


<div id="wishlist">

  <div class="d-flex flex-wrap">
    <% @wishlist_spots.each do |spot| %>
      <%= render "spot-card", spot: spot %>
    <% end %>
  </div>

</div>

<div id="visited" class="hidden">

  <div class="d-flex flex-wrap">
    <% @visited_spots.each do |spot| %>
      <%= render "spot-card", spot: spot %>
    <% end %>
  </div>

</div>
