  <div class="spot-image">
    <%= image_tag("#{thumbnail}") %>
  </div>

  <div class="spot-details">
    <h5><%= name %></h5>
    <div class="location">
      <p><%= suburb %>, <%= city %></p>
    </div>
  </div>
