<!-- Search bar -->

<%= form_tag(spots_path, method: :get, remote: true) do %>

  <div class="search-bar">

      <i class="far fa-search search-icon"></i>

      <%= text_field_tag :query,
      params[:query],
      class: "search-text",
      placeholder: "Search...",
      id: "spots-search" %>

      <%= link_to root_path do %>
        <i class="fal fa-times-circle search-exit"></i>
      <% end %>

  </div>
<% end %>

<!-- Search results -->

<div id="search-results" class="d-flex flex-wrap mx-auto">

</div>


