.page {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.carousel {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient($katchup-pink, $katchup);
}

.login {
  position: absolute;
  bottom: 0px
}

.btn-fb {
  border-radius: 5px;
  background-color: $facebook;
  color: white;
  margin-top: 20px;
  font-size: 18px;
  i {
    font-size: 25px;
    margin-right: 15px;
  }
}

.carousel-indicators {
  bottom: 50px;
}
.carousel-item {
  text-align: center;
  color: white;
}

.carousel-image {
  height: 100vh;
}

.carousel-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.carousel-text {
  width: 90%;
  margin: auto;
  margin-top: 300px;
}

.dark-filter {
  background-color: rgba(0,0,0,0.6);
}

.white-pin {
  color: white;
  font-size: 60px;
}
