.carousel {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  // background-image: linear-gradient($katchup-pink, $katchup);
}

.login {
  position: absolute;
  bottom: 0px
}

.btn-fb {
  border-radius: 5px;
  background-color: $facebook;
  color: white;
  margin-top: 20px;
  font-size: 18px;
  i {
    font-size: 25px;
    margin-right: 15px;
  }
}

.brand {
  display: flex;
  justify-content: center;
  .logo {
    width: 60%;
    height: auto;
    margin-top: 100px
  }
}

.carousel-indicators {
  bottom: 50px;
}

.carousel-item {
  text-align: center;
  .card-img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }
  .logo-img {
    height: 30px;
    width: 30px;
    margin-right: 5px
  }
  .content {
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
    .logosmall {
      display: flex;
      position: absolute;
      top: 20px;
    }
    .text {
      margin-top: 35vh;
      width: 90%;
    }
  }
}

.dark-filter {
  background-color: rgba(0,0,0,0.6);
}

.carousel-indicators li {
  background-image: linear-gradient($katchup-pink, $katchup);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-left: 10px;
  margin-right: 10px;
}
