.page {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
}

.carousel {
  flex-grow: 2;
  height: 100%;
  width: 100%;
  background-image: linear-gradient($katchup-pink, $katchup);
}

.login {
  flex-grow: 1;
  max-height: 80px;
}

.carousel-image {
  max-width: 100% !important
}

.btn-fb {
  border-radius: 5px;
  background-color: $facebook;
  color: white;
  margin-top: 20px;
  font-size: 18px;
  i {
    font-size: 25px;
    margin-right: 15px;
  }
}

// .carousel-image {
//   width: 100%
// }

// .fill {
//   justify-content: center;
//   overflow: hidden;
//   img {
//     max-height: 90vh;
//   }
// }

// .carousel-inner {
  // width: 100vw;
  // background-image: linear-gradient($katchup-pink, $katchup);
  // text-align: center;
// }

// .carousel-text {
//   margin-top: 300px
// }

.dark-filter {
  background-color: rgba(0,0,0,0.6);
}

.white-pin {
  color: white;
  font-size: 60px;
}
