<% if user_signed_in? %>

  <div>

    <% if current_user.visited_spot?(spot) %>

      <%= link_to visited_path(current_user.find_visiteds(spot)),
        method: :delete,
        remote: true,
        style:"text-decoration: none !important" do %>

        <button type="button" class="btn btn-light visited-active">
          VISITED
          <i class="fas fa-check ml-2"></i>
        </button>

      <% end %>

    <% else %>

      <%= link_to spot_visiteds_path(spot),
        method: :post,
        remote: true,
        style:"text-decoration: none !important" do %>

        <button type="button" class="btn btn-light">
          VISITED
          <i class="fas fa-check ml-2"></i>
        </button>

      <% end %>

    <% end %>
  </div>
<% end %>
