<div class="carousel-item">
  <div class="card text-white">

    <%= image_tag( 'cafe.jpg' , class: 'card-img') %>

    <div class="card-img-overlay dark-filter">
      <div class="content">
        <div class="logo">
          <%= image_tag('logowhite.png', class: 'logo-img') %>
          <h4 class="text-white">katchup</h4>
        </div>
        <div class="text">
          <h3>Wishlist</h3>
          <p>Store all the restaurants, cafes & bars you want to try.</p>
        </div>
      </div>
    </div>
  </div>
</div>
