<div class="page">

  <div class="carousel" style="background-color: gray">
    <h1>Carousel</h1>
  </div>

  <div class="container login" style="background-color: pink">
    <button type="button" class="btn btn-secondary btn-lg btn-block mt-3">Block level button</button>
  </div>


</div>
