<div class="page">

  <div class="carousel" style="background-color: gray">
    <h1>Carousel</h1>
  </div>

  <div class="container login" style="background-color: pink">
    <h2>Login</h2>
  </div>


</div>
