<div class="page">

  <div class="container login">

    <div style="width: 100%; height: 80vh; background-color: lightgray">
      Carousel
    </div>


    <%= link_to user_facebook_omniauth_authorize_path do %>
      <div class="btn btn-fb">
        <i class="fab fa-facebook-square"></i>
        <p>Continue with Facebook</p>
      </div>
    <% end %>


  </div>

</div>
