<% if user_signed_in? %>

  <%= @suburb %>


  <%= link_to spots_path, style:"text-decoration:none" do %>

  <!-- Search bar -->

    <div class="search-bar">

      <i class="far fa-search search-icon"></i>

      <p class="search-text">Search...</p>

    </div>

  <% end %>

<% else %>

  <%= render 'devise/sessions/new' %>



<% end %>
