
<%= link_to spots_path do %>

<!-- Search bar -->

  <div class="search-bar">

    <i class="far fa-search search-icon"></i>

    <p class="search-text">Search...</p>

  </div>

<% end %>

<h5>NEWS FEED</h5>
