.search-bar {
  position: relative;
  background-color: $light-gray;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 30px;
  color: gray;
  display: flex;
  align-items: center;
  .search-icon {
    margin: 10px;
  }
  .search-text {
    margin: 0;
    flex: 2;
    outline: none;
  }
  input {
    background-color: $light-gray;
    border: none;
  }
  .search-exit {
    flex: 1;
    margin: 5px;
    font-size: 20px;
    text-decoration: none;
    color: $katchup;
  }
}
